@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  background-color: #f8fafc;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("./banner.avif");
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  padding: 20px;
}

h1 {
  color: #f8fafc;
  font-size: 24px;
  text-align: left;
  font-weight: 700;
}

main {
  padding: 20px;
}

section {
  text-align: center;
}

.card-destino {
  width: 350px;
  min-height: 420px;
  background-color: #e2e8f0;
  box-shadow: 0 2px 8px gray;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.card-destino img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-destino:hover {
  transform: scale(1.05);
}

.card-destino p {
  text-align: left;
}

nav {
  color: #e2e8f0;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #e2e8f0;
}

nav a:hover {
  color: #38bdf8;
}

.destinos {
  display: flex;
  padding: 10px;
  gap: 25px;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #1e293b;
}

p {
  margin: 0;
  margin-bottom: 15px;
  color: #1e293b;
}

h3 {
  color: #000;
}

button {
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #b4cff3;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.preco {
  font-size: 14px;
  color: #0206fa;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.preco strong {
  font-size: 16px;
}

.card-destino button {
  background-color: #0f0fd2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.card-destino button:hover {
  transform: scale(1.05);
}
